p{

color: blue;
font-size: 30px;
background-color: brown;
text-align: justify;
}

h3{
    color: blue;
    background-color: brown;
text-align: justify;
}

.clase{
    color: aqua;
    text-align: center;
background-color: beige;
}

#identif{
    color:blueviolet;
    background-color: bisque;
    text-align: right;
    
}

ol{
    background-color: deeppink;
text-align: center;
}

